{% extends "::base.html.twig" %}
{% import '::macro.html.twig' as forms %}

{% block body %}


<div class="row">

	{% include "CTRVEventBundle::menuEvent.html.twig" %}
	
	<div class="span90">
	
		<h3>{% trans %}eventComment.list.title{% endtrans %}</h3>
		<div id="events-list">
		{% if entities is not empty  %}
			<table class="table table-bordered table-condensed table-hover">
			    <thead>
			        <tr>
			        	<th>{% trans %}eventComment.list.table.author{% endtrans %}</th>
			            <th>{% trans %}eventComment.list.table.content{% endtrans %}</th>
			            <th>{% trans %}eventComment.list.table.addedDate{% endtrans %}</th>
			            <th>{% trans %}eventComment.list.table.event{% endtrans %}</th>
			            <th>{% trans %}eventComment.list.table.action{% endtrans %}</th>
			        </tr>
			    </thead>
			    <tbody>
			    {% for entity in entities %}
			        <tr>
						<td>{{ entity['comment'].auteur }}</td>
			            <td>{{ entity['comment'].content }}</td>
			            <td>{{ entity['comment'].date|date(constant('CTRV\\CommonBundle\\DependencyInjection\\Constants::DATE_FORMAT')) }}</td>
			            <td>{{ entity['title'] }}</td>
			            <td>
					        <a class="eventComment-to-delete btn btn-mini" data-eventComment-id="{{entity['comment'].id}}">{% trans %}eventComment.list.table.delete_action{% endtrans %}</a>
			            </td>
			        </tr>
			    {% endfor %}
			    </tbody>
			</table>
					
			{% render "CTRVCommonBundle:Common:renderPagination" with { 'href_active':'true', 'nb_pages' : nb_pages, 'page' : page,'url_path' : 'eventComment' } %}

		{% else%}
			<div class="center">{% trans %}eventComment.list.table.no_result{% endtrans %}</div>				
		{% endif %}		
		</div>
	</div>
</div>

<script type="text/javascript" src="{{ asset('bundles/ctrvcommon/js/eventComment.js') }}"></script>

<script>
	$(function() {

		var url_delete_eventComment_action = "{{ path('comment_delete', { 'id': 'eventComment_id_to_delete' }) }}";
		$(".eventComment-to-delete").click( function () {
			url_delete_eventComment_action = url_delete_eventComment_action.replace('eventComment_id_to_delete',$(this).attr('data-eventComment-id'));
			deleteEventComment (url_delete_eventComment_action, $(this).parent().parent());
		});
		
	});
</script>
{% endblock body %}