{% extends "::base.html.twig" %}
{% import '::macro.html.twig' as forms %}

{% block body %}


<div class="row">

	{% include "CTRVFlowBundle::menu.html.twig" %}
	
	<div class="span90">
	
		<h3>{% trans %}groupe.list.title{% endtrans %} {{ city|capitalize }}</h3>
		<div class="right"><h4>{% trans %}groupe.list.title1{% endtrans %}  : {{ nb_entities }}</h4></div><br>
		<div class="right"><h4>{% trans %}groupe.list.title2{% endtrans %} : {{ nb_entities1 }}</h4></div><br>
		{% if entities is not empty  %}
<table class="table table-bordered">
    <thead>
        <tr>
        	<th>{% trans %}groupe.list.table.noms{% endtrans %}</th>
        	<th>{% trans %}groupe.list.table.description{% endtrans %}</th>
        	<th>{% trans %}groupe.list.table.login{% endtrans %}</th>
        	<th>{% trans %}groupe.list.table.membre{% endtrans %}</th>
            
            <th>{% trans %}groupe.list.table.action{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities1 %}
        <tr>
			<td>{{ entity.name }}</td>
			<td>{{ entity.description }}</td>
			<td>{{ entity.admin }}</td>
			<td> {{ group_member[entity.id]}}</td>
            
            <td>
		        <a class="groupe-to-delete btn btn-mini" data-groupe-id="{{entity.id}}">{% trans %}groupe.list.table.delete_action{% endtrans %}</a>
		        {% if entity.isBlocked == "0" %}
		        <a href="{{ path ("groupe_block", { 'id': entity.id }) }}" class="groupe-to-block btn btn-mini" data-groupe-id="{{entity.id}}">{% trans %}groupe.list.table.block_action{% endtrans %}</a>
		        {% else %}
		        <a href="{{ path ("groupe_deblock", { 'id': entity.id }) }}" class="groupe-to-deblock btn btn-mini" data-groupe-id="{{entity.id}}">{% trans %}groupe.list.table.deblock_action{% endtrans %}</a>
		        {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
		
			{% render "CTRVCommonBundle:Common:renderPagination" with { 'href_active':'true', 'nb_pages' : nb_pages, 'page' : page,'url_path' : 'groupe' } %}
		
		{% else%}
			<div class="center">{% trans %}groupe.list.table.no_result{% endtrans %}</div>				
		{% endif %}		
		
	</div>
</div>

<script type="text/javascript" src="{{ asset('bundles/ctrvflow/js/groupUser.js') }}"></script>


<script>
	$(function() {

		
		var url_delete_groupe_action = "{{ path('groupe_delete', { 'id': 'groupe_id_to_delete' }) }}";
		$(".groupe-to-delete").click( function () {
			url_delete_groupe_action = url_delete_groupe_action.replace('groupe_id_to_delete',$(this).attr('data-groupe-id'));
			deleteGroupe (url_delete_groupe_action, $(this).parent().parent());
		});
		
	});
</script>
{% endblock body %}